body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url(../Assets/Albums/EV1/ev1.jpg); */
    background-color: white;
    /* background-color: blue; */
    background-size: cover;
    background-position: 0%;
    margin: 0px;
    padding: 0px;
    /* font-family: Verdana,sans-serif; */
}

.pcot-logo {
    /* height: 150px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 600px;
}

header {
    text-align: center;
    background-color: azure;
    border: 2px solid gray;
    margin-bottom: 30px;
    padding: 5px;
    border-radius: 17px;
    /* width: 50vw; */
    width: fit-content;
    min-width: 300px;
    margin:auto;
}

.release-name {
    font-size: 13pt;
    font-weight: bold;
    border: 5px blueviolet solid;
    background-color: antiquewhite;
    padding: 10px;
    border-radius: 20px;
}

.link {
    background-color: pink;
    height: 45px;
    font-size: 18pt;
    cursor: pointer;
    border-radius: 100px;
    border: 2px outset gray;
    text-decoration: none;
    text-align: center;
    color: black;
    line-height: 40px;
    width: 50%;
    min-width: 350px;
    /* max-width: 600px;  */
}

.link:hover {
    background-color: rgb(204, 114, 252);
}

.links {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;

}

footer {
    padding: 20px;
}


.explosion {
/* 
    -webkit-filter: invert(1);
    filter: invert(1); */
}

section{

    width: fit-content;
    margin: auto;
}

.tandyLinx{

    width: calc(100% - 80px);
}