html,   
body {
    margin: 0;
    padding: 0;
    /* background-color: #000000; */
    color: #fff;
}

body {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    position: relative;
}

#links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 20px;
    width: 200px;
}

#links a {
    color: #fff;
    text-decoration: none;
}

button{
    margin: 10px;
    padding: 20px;
   
    font-size: 20pt;
    border: 2px black ridge;
    border-radius: 100px;
    
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    transform: translateX(calc((100% - 100vw) / 2));
    overflow-x: hidden;
  }

h1{
    color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-size: 400%;
    animation: move 5s ease infinite;
            background-image: linear-gradient( 68.7deg,  rgba(29,173,235,1) 13.2%, rgba(137,149,250,1) 29.8%, rgba(229,109,212,1) 48.9%, rgba(255,68,128,1) 68.2%, rgba(255,94,0,1) 86.4% );
        }

@keyframes move {
            0%,100%{
                background-position: 200% 0%;
            }

            50%{
                background-position: 0% 200%;
            }
}




#lissa{
    position: absolute;
    right: 0;
    
}

img{
    /* width: 300px; */
    margin: 5px;
}